body {
    margin: 0;
    padding: 0;
}

.wrapperBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    /* width: 100; Full viewport height */
}

.letter {
    /* flex: auto; */
    max-width: 100%;
    max-height: 100%;
    font-size: 32px;
    font-weight: bold;
    color: #3498db;
    transform-style: preserve-3d;
    animation: spin 10s linear infinite;
    /* text-shadow: 4px 4px 6px #3498dbff; */
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    75% {
        transform: rotateY(180deg);
    }
}

/* .letter:nth-child(1) { animation-delay: -1s; }
.letter:nth-child(2) { animation-delay: -1.25s; }
.letter:nth-child(3) { animation-delay: -1.5s; }
.letter:nth-child(4) { animation-delay: -1.75s; } 
.letter:nth-child(5) { animation-delay: -2s; } */